:root {
  --navbar-color: #0E8389;
  --sidemenu-color: #0E8389;
  --button-color: rgb(236, 163, 95);
}

html {
  height: 100%;
}

body {
  height: 100%;
  /* margin: 0;
  padding: 0; */
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
}

.height-94 {
  height: 94vh;
  background-color: var(--sidemenu-color);
}

.greyed-text {
  color: #808080;
}

.ui.fluid.button, #log-out-button {
  background-color: var(--button-color);
}

/*========================*/
/* Navbar */

#navbar-logo-menu {
  margin: 0;
  padding: 0;
}

#navbar-logo {
  width: 70px;
  margin: 0;
  margin-left: 10%;
}

#navbar {
  background-color: var(--navbar-color);
  max-height: 6vh;
}

/* End Navbar */
/*========================*/
/* Welcome Page */

.welcome {
  height: 100%;
  background-image: url('./imgs/foggy-forest.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 1px solid rgba(0,0,0,0)}

#welcome-page-logo {
  width: 100px;
  margin: 0;
  padding: 0;
}

.welcome-left-text {
  text-shadow: 3px 3px 10px #ffffffc9;
}

#welcome-grid {
  padding-top: 10%;
}

/* End Welcome Page */
/*========================*/
/* Editor */

.ql-editor {
  min-height: 60vh !important;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: white;
}

.ql-toolbar {
  background-color: white;
}

#editor-header {
  padding-left: 14px;
  padding-right: 14px
}

#save-btn {
  margin-left: 1%;
  background-color: rgba(0,0,0,0)
}

#delete-btn {
  margin-left: 1%;
  background-color: rgba(0,0,0,0)
}

#loader {
  margin-left: 1%;
}

#editor-placeholder {
  opacity: 0.4;
}

.editor-placeholder-pic {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
}

/* End Editor */
/*========================*/
/* SideMenu */

#side-menu-column {
  background-color: var(--sidemenu-color); 
}

.side-menu-tags {
  float: left;
}

body > div.ui.right.center.popup.transition.visible > form > div {
  margin-bottom: 0;
}

body > div.ui.right.center.wide.popup.transition.visible {
  left: 5% !important;
  right: auto !important;
  min-width: 200px; 
}

/* End SideMenu */
/*========================*/
/* Note Container */

#notes-list {
  max-height: 95.5%;
  overflow: hidden;
  overflow-y: scroll;
  /* direction: ltr; */
}

.note-item {
  /* direction: ltr; */
}

#root > div > div.ui.three.column.grid.height-94 > div.three.wide.column > div.ui.massive.borderless.fluid.pointing.vertical.menu {
  /* max-height: 100; */
}

/* End Note Container */
/*========================*/
